.homepage-list {
  background-image: url("../../assets/img/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  body .header-close {
    left: 85%;
  }

  body .modal_content {
    width: 850px;
    height: 420px;
  }
  body .header-imgs {
    width: 280px;
    height: 280px;
  }

  body .header-input {
    width: 300px;
  }

  .rating {
    padding-left: 80px;
  }

  .section .section-names {
    margin-left: 120px;
  }

  .about {
    padding-left: 80px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .navbar svg {
    width: 150px;
    height: 80px;
  }
  .navbar .navbar-item {
    margin: 0 8px;
  }

  .section .section-names {
    margin-left: 80px;
  }

  .navbar .navbar-links {
    font-size: 12px;
  }
  .navbar .active {
    font-size: 12px;
  }

  .navbar .navbar-list {
    justify-content: space-around;
  }

  .App .navbar {
    bottom: 84%;
  }

  .section .section-list {
    width: 800px;
  }
  .section .section-img {
    width: 250px;
  }
  .section .section-page {
    flex-wrap: wrap;
  }
  .section .section-title {
    margin: 10px 13px;
  }

  .App .form {
    padding: 120px;
  }

  .form .form-input {
    width: 80%;
  }
  .form textarea {
    width: 80%;
  }
}

@media (max-width: 780px) {
  .container {
    width: 100%;
  }
  .App .navbar {
    display: none;
  }

  .section .section-list {
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
  }
  .section .section-img {
    width: 100%;
    height: 200px;
  }
  .section .section-btn {
    width: 120px;
  }
  .section .section-item {
    padding-left: 20px;
  }
  .App .about {
    padding-bottom: 80px;
  }

  .App .form {
    padding: 30px;
  }

  .form .form-list {
    padding-left: 30px;
  }
  .form .form-name {
    padding-left: 30px;
  }
  .form .form-lists {
    padding-left: 20px;
  }

  .header .header-name {
    font-size: 36px;
    line-height: 40px;
    width: 80%;
  }
  .rating .rating-list {
    margin: 0 30px;
  }

  .section .section-items .section-span {
    margin: 10px;
  }
  .section .section-title {
    width: 200px;
    height: 210px;
  }
  .section .section-pic {
    width: 180px;
  }
  .section .section-subname,
  .section .section-subtext,
  .section .section-links {
    padding-left: 12px;
  }

  .about .about-name {
    font-size: 36px;
    line-height: 40px;
    width: 100%;
  }

  .section .section-text {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
  }
  .header .header-name {
    font-size: 27px;
    line-height: 35px;
    width: 100%;
  }
  .App .header {
    padding-left: 15px;
  }
  .header .header-img {
    width: 100px;
    margin: 0 10px;
  }

  .header .header-span {
    margin-top: 20px;
  }
  .header .header-text {
    width: 90%;
  }
  .rating .rating-number {
    font-size: 30px;
  }
  .rating .rating-text {
    font-size: 18px;
  }
  .rating .rating-list {
    margin: 0 10px;
  }
  .App .rating {
    padding-left: 10px;
  }

  .rating .rating-title {
    margin-left: 0;
  }

  .App .about {
    padding-left: 15px;
  }
  .about .about-name {
    font-size: 27px;
    line-height: 35px;
  }
  .about .about-text {
    width: 100%;
  }

  .App .form {
    padding: 0;
  }
  .form .form-input {
    width: 85%;
  }
  .form textarea {
    width: 85%;
  }

  .form .form-list {
    padding-left: 10px;
  }

  .header .header-span {
    font-size: 14px;
    width: 180px;
  }

  .section .section-text {
    width: 95%;
  }

  .section .section-title {
    width: 100%;
    height: 300px;
  }
  .section .section-pic {
    width: 95%;
  }
  .section .section-btn {
    width: 90px;
  }

  .section .section-subtext {
    width: 100%;
    font-size: 12px;
  }
  .section .section-subname {
    font-size: 18px;
    line-height: 20px;
  }
  .section .section-links {
    font-size: 12px;
  }

  .App .section .section-span {
    margin: 10px 5px;
  }
}
